@tailwind base;
@tailwind components;
@tailwind utilities;

.corefeaturesection {
    background-size: 100% 100%;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.companies {
    animation: auto-scroll 10s infinite linear;
}

@keyframes auto-scroll {

    0% {
        top: 0;

    }

    100% {
        top: -50%;

    }

}

.ctaSection {
    background-size: 100% 100%;
}